<li class="flex justify-between items-center mb-4">
    <p>@ProsConsValue.Name</p>
    <span>@ProsConsValue.Quantity</span>
</li>
@code {
    [Parameter] 
    public ProsCons ProsConsValue { set; get; }
}
