@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.header_left-menu .item:hover::after {
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    height: 1px;
    background-color: blue;
    display: inline-block;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: left;
}

.donut-chart {
    position: relative;
    width: 50px;
    max-width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: conic-gradient(from 0deg, #6b6bdb 0% var(--percent), #bdbdef var(--percent) 100%);
}