.header_left-menu .item:hover::after{
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    height: 1px;
    background-color: blue;
    display: inline-block;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: left;
}
/* .header_left-menu .item:hover >.header_left-menu .item::after{
    display: inline-block;
    color: aqua;
} */