@page "/category"
@using G2.Blazor.Components.Layout.Category
<PageTitle>Category</PageTitle>

<div class="hero xl:w-full xl:h-[400px] bg-indigo-700 flex flex-col justify-center items-center">
    <h1 class="text-5xl text-white mb-20">Expore software categories</h1>
    <div class="flex justify-center items-center bg-white px-3 rounded-lg">
        <input type="text"
               placeholder="Search category name..."
               class="xl:w-[500px] xl:h-[30px] px-3 py-6 outline-none rounded-lg" />
        <button>
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="size-6">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
        </button>
    </div>
</div>

<article class="container mt-10 mx-auto">
    <div class="text-end">
        <label for="sort-by" class="text-gray-400">Sort by</label>
        <select name="sort-by" id="sort-by" class="px-2 py-1 outline-none border rounded-lg">
            <option value="0">Most visited</option>
            <option value="1">A-Z</option>
            <option value="2">Z-A</option>
        </select>
    </div>

    <div class="mt-10">
        <CategoryListComponent Name="Website & eCommerce">
            <CategoryItemComponent Link="" Name="Audio Editing" Quantity=58 />
            <CategoryItemComponent Link="" Name="Audio Editing" Quantity=58 />
            <CategoryItemComponent Link="" Name="Audio Editing" Quantity=58 />
            <CategoryItemComponent Link="" Name="Audio Editing" Quantity=58 />
            <CategoryItemComponent Link="" Name="Audio Editing" Quantity=58 />
            <CategoryItemComponent Link="" Name="Audio Editing" Quantity=58 />
        </CategoryListComponent>
        <CategoryListComponent Name="Website & eCommerce">
            <CategoryItemComponent Link="" Name="Audio Editing" Quantity=58 />
            <CategoryItemComponent Link="" Name="Audio Editing" Quantity=58 />
            <CategoryItemComponent Link="" Name="Audio Editing" Quantity=58 />
            <CategoryItemComponent Link="" Name="Audio Editing" Quantity=58 />
            <CategoryItemComponent Link="" Name="Audio Editing" Quantity=58 />
            <CategoryItemComponent Link="" Name="Audio Editing" Quantity=58 />
        </CategoryListComponent>
    </div>
</article>

