@page "/"


<section class="hero">
    <div class="container">
        <div class="hero_text">
            <h1 class="heading">Find the best products
                & accelerate your business.</h1>
            <p class="text">Save time and stress. We guide you through your software search and it’s 100% free.</p>
            <div class="seach">
                <input type="text" placeholder="Enter product name, software category, service name...">
                <a href="#"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="hero_img">
            <img src="" alt="">
        </div>
        <div class="hero_previews">
            <i><img src="" alt="" class="userimg"></i>
            <p class="reviewer">800,000+</p>
            <p class="des">Previews</p>
        </div>

    </div>
</section>
