<div class="flex mb-4 items-center">
    <div class="donut-chart flex justify-center items-center" style="--percent: @(UserSatisfaction.RateNumber * 10)%">
        <div class="bg-white rounded-full w-4/5 h-4/5"></div>
        <span class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">@UserSatisfaction.RateNumber</span>
    </div>
    <p class="ml-2">@UserSatisfaction.Name</p>
</div>
@code {
    [Parameter]
    public UserSatisfaction UserSatisfaction { set; get; }
}
