<footer>
    <div class="footer pt-10 ">
        <div class="container mx-auto">
            <div class="footer_top flex justify-between pb-10">
                <div class="footer_top-logo cursor-pointer">
                    <a href="#"><i><img src="access/logo.jpg" alt=""></i></a>
                </div>
                <ul class="item cursor-pointer">
                    <li class="text font-bold pb-2"><a href="#"></a>Product</li>
                    <li class="text pb-2"><a href="#"></a>Software</li>
                    <li class="text"><a href="#"></a>Service</li>
                </ul>
                <ul class="item cursor-pointer">
                    <li class="text font-bold pb-2"><a href="#"></a>For you</li>
                    <li class="text pb-2"><a href="#"></a>Compare</li>
                    <li class="text pb-2"><a href="#"></a>Report</li>
                    <li class="text"><a href="#"></a>Add Product</li>
                </ul>
                <ul class="item cursor-pointer">
                    <li class="text font-bold pb-2"><a href="#"></a>Company</li>
                    <li class="text"><a href="#"></a>About Us</li>
                </ul>
            </div>
            <div class="footer_bottom py-5 border-t-2 border-solid border-t-gray-200 w-full text-center">
                <span class="footer_bottom-copyright">© 2022 © 2024 G2.com, Inc. All rights reserved,
                    Inc.</span>
            </div>
        </div>
    </div>
</footer>
